/*css*/

header
{
	padding:2%;
}
#calctab tr td h3
{
	font-size:14px;
}
#nav
{
	text-align:center;
	width:100%;
}
#footer
{
	text-align:center;
}
#footer a
{
	margin:0 20px 0 20px;
}
#scores
{
	width:100%;
	text-align:center;
}
#cont h1
{
	text-align:center;	
}
#result
{
	text-align:center;
}
